{% extends "base.html" %}

{% block content %} 

<h1>Lista de Personajes de Rick and Morty</h1>
<a href="{{url_for('character_router.principal')}}" class="btn btn-success">Volver al inicio</a>
<div class="row" style="margin-top: 30px">
    {% for character in characters %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{ character.image }}" alt="Personaje" width="200" class="mx-auto d-block">
                <h3>{{ character.name }}</h3>
                <p>{{ character.status }} - {{ character.species }}</p> 
                <p>Last know location</p>
                <h4>{{ character.location }}</h4>
                <p>First seen in</p>
                <h4>{{ character.origin }}</h4>
                <a href="{{ url_for('character_router.perfil',id=character.name)}}">Ver más</a>
            </div>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}